	<html>
		<center>
			<h1>Movie of the Day</h1>
			<h2>{{movie_day}}</h2>
			<h1> Movie for Tommorow</h1>
			<h2>{{movie_tommorow}}</h2>
			<form id = "add-movie" action="/create"method="POST"
				<label for="add-movie">Add movie:</label>
				<br />
				<input id="add-movie" type="text"">
				<br />
				<input id="submit" type="submit" name = "submit">
			<br />
			<br />
				<label for ="crossout-movie">I want to cross out:</label>
				<br>
				<select id="crossout-movie" size="5">
					<option value="batman">Batman</option>
					<option value="finding-nemo">Finding Nemo</option>
					<option value="big-hero-6">Big Hero 6</option>
					<option value="finding-dory">Finding Dory</option>
					<option value="khaan">Star Trek: Wrath Of Khan</option>
				</select>
				<br />
				<input id="submit2" type="submit">
			</form>
		</center>
	</html>	
